<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
       <link rel="icon" href="img/logo.png">
</head>
<style>
    .not{
        margin-top: 3%;
        margin-left: 24%;
    }
</style>
<body>
    {{>header}}
    <img  class="not" src="https://img.freepik.com/free-vector/404-error-with-person-looking-concept-illustration_114360-7912.jpg?w=2000s" width="50%" height="40%"></img>
</body>
</html>