<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APNI YATRA</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/main.css" />

  </head>

  <body>
    {{>header}}
    <!-- <----------------------------------------- Home Section ----------------------------------------->
    <section id="homepage">
      <video autoplay muted loop>
        <source
          src="img/Travel is an Investment in yourself.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </section>
    <!------------------------------------------ Famous Place -------------------------------------------->
    <section>
      <div class="famousplace-section">
        <div class="place">Famous Places</div>
        <div class="slideshow-box">
          <button onClick="mySlide('previous');" id="previous">
          </button>
          <img
            src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202210/taj_mahal_agra-sixteen_nine.jpeg?VersionId=qpq9Vzw9_nPAusE.IUldLWXMzVaTpO8s"
            id="slide"
            alt=""
          />
          <button onClick="mySlide('next');" id="next">></button>

        </div>
      </div>
    </section>
    <!--  -->
    <script src="js/index.js"></script>
    {{! <!---------------------- Tours and packages -------------------------------> }}
    <section id="tour">
      <div class="tour-title">Tour & Packages</div>
      <div class="tour-section">
        <div class="tourimg">
          <img
            src="https://cdn.tourradar.com/s3/tour/645x430/91447_5e2041670dba9.jpg"
            alt="Avatar"
            class="timage"
          />
          <div class="overlay">Read More about Packages</div>
        </div>
        <div class="tourimg">
          <img
            src="https://www.indiaeasytrip.com/extra-images/india-travel-packages.jpg"
            alt="Avatar"
            class="timage"
          />
          <div class="overlay">Read More about Packages</div>
        </div>
        <div class="tourimg">
          <img
            src="https://www.tourmyindia.com/blog//wp-content/uploads/2017/01/1081-Luxury-Holiday-Ideas-India.jpg"
            alt="Avatar"
            class="timage"
          />
          <div class="overlay">Read More about Packages</div>
        </div>
        <div class="tourimg">
          <img
            src="https://www.wintoursindia.com/uploads/sliders/slider-2-1558946449.jpg"
            alt="Avatar"
            class="timage"
          />
          <div class="overlay">Read More about Packages</div>
        </div>
      </div>
    </section>
    <div id="target"></div>
    {{! <!-- <----------------------------------------- Why We Section------------------------------------------> }}
    <section>
      <div class="whatweoffer"> What do we offer ?</div>
      <div class="features">
        <div class="f1">
          <img src="img/f1.png" alt="" height="90em" />
          <div class="featureText1">Customized Experience</div>
          <div class="featureText">We created knowing this platform for the
            traveler who seeks unique experiences. The traveler who wants to
            return home with unique stories, something different to show an
            experienced, no one else has tried let us know the kind of people
            experience you she can we will plan it for you
          </div>
        </div>
        <div class="f2">
          <img src="img/f2.png" alt="" height="90em" />
          <div class="featureText1">Leaders in the market</div>
          <div class="featureText">
            With many years of experience, we got our travelers from all over
            the india and we are the well known brand. Whether you are
            travelling alone, or with a group our experienced team can help with
            every ascept of your trip, and will recommend the best options.</div>
        </div>
        <div class="f3">
          <img src="img/f3.png" alt="" height="90em" />
          <div class="featureText1">24/7 support</div>
          <div class="featureText">We know that when you are in a foriegn
            country, things don't go as planned. Our local team in available in
            different parts of the india. After booking your ticket, we will be
            available for you 24/7.
          </div>
        </div>
      </div>
    </section>
    {{! <!-- <----------------------------------------- About Section------------------------------------------> }}
    <section>
      <div id="about" class="aboutus">About Us</div>
      <div class="detail">
        <img src="img/travell.jpg" alt="" />
        <div class="aboutText1">Apni Yatra offers a chance to explore its
          biodiversity in the country's many national parks and wildlife
          reserves. An enthralling experience entails in the India wildlife tour
          packages that take tourists to the habitats of Royal Bengal Tigers,
          one-horned rhinos, and snow leopards amongst many rare, endangered,
          and unique species of flora and fauna.</div>
        <div class="aboutText2">A strong and "trusted" travel brand of India,
          our strengths include a large and loyal customer base, a multi-channel
          platform for leisure and business travelers, a robust mobile
          eco-system for a spectrum of travelers and suppliers, a strong
          technology platform designed to deliver a high level of scalability
          and innovation and a seasoned senior management team comprising of
          industry executives with deep roots in the travel industry in India
          and abroad.</div>
      </div>
    </section>
    {{>footer}}

    <script src="../public/js/index.js">

    </script>
  </body>

</html>