<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>


<body>
    <div id="header">
        <div class="topheader">
            <p class="email"><span class="material-symbols-outlined">
                    mail
                </span>apniyatra22@gmail.com</p>
            <img src="img/logo.png" alt="" height="65rem" width="75rem">
            <p class="phone_no"><span class="material-symbols-outlined">
                    call
                </span>+91 xxxxxxxxxx</p>
        </div>
        <div id="bottomheader">
            <a class="btn active" href="/">Home</a>
            <a class="btn " href="/about">About</a>
            <div class="dropdown">
                <button onclick="myFunction()" class="btn">Destination</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Gujarat</a></li>
                    <a href="#">Kerala</a></li>
                    <a href="#">Nagaland</a></li>
                    <a href="#"> Arunachal Pradesh</a></li>
                    <a href="#">Haryana</a></li>
                    <a href="#"> Madhya Pradesh</a></li>
                    <a href="#">Odisha</a></li>
                    <a href="#">Assam</a></li>
                    <a href="#">Himachal Pradesh</a></li>
                    <a href="#">Maharashtra</a></li>
                    <a href="./uk">Uttrakhand</a></li>
                    <a href="#">Bihar</a></li>
                    <a href="#">Jammu and Kashmir </a></li>
                    <a href="#">Manipur</a></li>
                    <a href="#">Chhattisgarh</a></li>
                    <a href="#"> Jharkhand</a></li>
                    <a href="#">Meghalaya</a></li>
                    <a href="#">Goa</a></li>
                    <a href="#">Karnataka</a></li>
                    <a href="#"> Mizoram</a></li>
                </div>
            </div>
            <a class="btn" href="/adventure">Adventure</a>
            <a class="btn" href="/tour">Tour & Packages</a>
            <a class="btn" href="/contact">Contact Us</a>
            <a href="/login" class="btn btn-secondary btn-block">Login</a>
             <a href="/register" class="btn btn-secondary btn-block">Register</a>
        </div>

    </div>
    </div>
    <script src="js/header.js"></script>
</body>

</html>